<div class="embed-container" *ngIf="product?.id">
          <div id="inksoftEmbed" style="width: 100%; height: 720px; padding: 0; margin: 0; border: 0; max-height: 100%; width: 100%;"></div>
      </div>
      <script-hack>
        (function() {{'{'}}
          function init() {{'{'}}
            var scriptElement = document.createElement('script');
            scriptElement.type = 'text/javascript';
            scriptElement.async = true;
            scriptElement.src = 'https://cdn.inksoft.com/FrontendApps/storefront/assets/scripts/designer-embed.js';
            scriptElement.onload = function() {{'{'}} launchDesignStudio() 
            };
            document.getElementsByTagName('body')[0].appendChild(scriptElement);
          }

          function launchDesignStudio() {{'{'}}
            window.inksoftApi.launchEmbeddedDesignStudio({{'{'}}
              targetElementId: 'inksoftEmbed',
              domain: 'https://stores.inksoft.com',
              cdnDomain: 'https://cdn.inksoft.com',
              storeUri: 'DS509063609',
              productId: {{product.id || 'null'}},
              designId: {{designId || 'null'}},
              updateCart: {{updateCart || 'false'}},
              sessionToken: {{sessionToken || 'null'}},
              onCartTriggered: function(cart) {{'{'}}
                location.href = '/cart/' + cart.sessionToken
              }
            });
          }

          init();
        })();
      </script-hack>